{% extends 'base.html' %}
{% load static %}
{% block title %} All Categories {% endblock %}
{% block includes %}
<link rel='stylesheet' href="{% static 'css/panel.css'%}">
<link rel='stylesheet' href="{% static 'css/sidebar.css'%}">
<link rel='stylesheet' href="{% static 'css/categories.css'%}">
<script src="{% static 'js/hide_form.js'%}"></script>
{% endblock %}
{% block content %}
<div class="row">
    
    <div class="col-md-1">
        {% include 'gal/sidebar.html' %}
    </div>
    
    <div class="col-md-11">
        <h1>Your Personal Gallery</h1>
    
        <div class="toggle-form">
            <span class="material-icons" id="form-toggler">add</span>
        </div>
        
        <div class="upload toggled">
                    <div class="form-header">Create a new category.</div>
                    <form method="POST" action="{% url 'create_category' %}" >
                        {% csrf_token %}
                        {{ category_form }}
                        <button type="submit">Add category</button>
                    </form>
        </div>
        
        <hr>
        {% if msg != '' %}
        <div class="alert alert-info" role="alert">
            {{msg}}
        </div>
        {% endif %}

        <div class="categories">
            <h>Your categories:</h>
            <div class="cat-menu">
            {% for category in categories %}
                <div class="category">
                    <div class="name">{{ category.name }}</div>
                    <div class="icons">
                        <a href="{% url 'category' %}?id={{category.id}}">
                            <div class="icon-all" title="See photos from this category">
                                <span class="material-icons">insert_photo </span>
                            </div>
                        </a>

                        <a href="/edit-category/{{category.id}}">
                            <div class="icon-all" title="Edit">    
                                <span class="material-icons">create</span>
                            </div>
                        </a>
                        
                        <form method="POST" action="{% url 'delete_category' %}" id="del-form{{category.id}}">
                            {% csrf_token %}
                            <input type="hidden" value="{{category.id}}" name="cat_id">
                            <a href="javascript:$('#del-form{{category.id}}').submit();">
                                <div class="icon-all" title="Delete this category">
                                    <span class="material-icons">delete </span>
                                </div>
                            </a>
                        </form>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}