{% extends 'base.html' %}
{% load static %}
{% block title %} All Images {% endblock %}
{% block includes %}
<link rel='stylesheet' href="{% static 'css/panel.css'%}">
<link rel='stylesheet' href="{% static 'css/sidebar.css'%}">
<link rel='stylesheet' href="{% static 'css/all_images.css'%}">
<script src="{% static 'js/hide_form.js'%}"></script>
<script src="{% static 'js/rescale_images.js'%}"></script>
<script src="{% static 'js/zoom_img.js'%}"></script>
{% endblock %}
{% block content %}
<script>
    var previewWidth = {{display_width}}; 
    var previewHeight = {{display_height}}; 
</script>
<div class="row">
    <div class="col-md-1">
        {% include 'gal/sidebar.html' %}
    </div>
    <div class="col-md-11">
        <h1>Your Personal Gallery</h1>
        <h2>{{category.name}}</h2>
        <hr>
        <div class="images">
            {% for image in images %}
            <div class="image-container">
                <div class="image">
                    <img src="{{image.image.url}}">
                </div>
                <div class="desc">{{image.description}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}