<nav id="sidebar" class="sidebar">
    <div class="sidebar-header" style="height: 3em;"></div>
    <ul class="list-unstyled components">
            <li class="active">
                <a href="{% url 'all_images' %}" class="nav-link">All photos</a>
            </li>
        <li class="active">
            <a href="{% url 'all_categories' %}" class="nav-link">Categories</a>
        </li>
        <li>
            <a href="#pageSubmenu" class="nav-link">Settings</a>
        </li>
        <li>
            <form method="POST" id="logout-form" action="{% url 'logout' %}">
                {% csrf_token %}
                <a href="javascript:$('#logout-form').submit();" class="nav-link">Logout</a>
            </form>
        </li>
    </ul>
</nav>